.App {
  font-family: 'Rubik Mono One', monospace;
  animation: enter 3s linear;
  margin: 2rem;
}

@keyframes enter {
	0% {
		opacity: 0;
		
	}
	25%{
		opacity: 0.250;
	}
	50%{
		opacity: 0.5;
	}
	75%{
		opacity: 0.75;
	}
	100% {
		opacity: 1;
		
	}
}

/* navbar style */

#darkmode{
	display: flex;
	justify-content: center;
	padding: 1rem;
  }
  
  #darkmode .checkbox {
	opacity: 0;
	position: absolute;
  }
  
  #darkmode .label {
	width: 2rem;
	height: 1rem;
	background-color:#111;
	display: flex;
	border-radius:50px;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	transform: scale(1.5);
	cursor: pointer;
  }
  
  #darkmode .ball {
	width: 8px;
	height: 8px;
	background-color: white;
	position: absolute;
	bottom: -3px;
	left: 2px;
	border-radius: 50%;
	transition: transform 0.2s linear;
  }
  
  #darkmode .checkbox:checked + .label .ball{
	transform: translateX(19px);
  }

  .flag{
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;
  }

  #basic-navbar-nav{
	flex-grow: 0.5;
  }

/* Presentation style */
.quote {
  color: red;
  font-size: larger;
}

/* Tech List style */

.box {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	animation: animate 20s linear infinite;
}
@keyframes animate {
	0% {
		transform: perspective(1000px) rotateY(0deg);
	}
	100% {
		transform: perspective(1000px) rotateY(360deg);
	}
}
.box span {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
	transform-origin: center;
	transform-style: preserve-3d;
	transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
	-webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}
.box span img {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
	object-fit: cover;
}

/* Projects List style */


.swiper-image-one {
	background-image: url(./assets/projects_img/newrizon_1.jpg);
  }
  
  .swiper-image-two {
	background-image: url(./assets/projects_img/newrizon_2.jpg);
  }
  
  .swiper-image-three {
	background-image: url(./assets/projects_img/mercurioweather_1.jpg);
  }
  
  .swiper-image-four {
	background-image: url(./assets/projects_img/mercurioweather_2.jpg);
  }
  
  .swiper-image-five {
	background-image: url(./assets/projects_img/greenlife_1.jpg);
  }
  
  .swiper-image-six {
	background-image: url(./assets/projects_img/greenlife_2.jpg);
  }

  .swiper-image-seven{
	background-image: url(./assets/projects_img/brainchallenge_1.jpg);
  }

  .swiper-image-eight{
	background-image: url(./assets/projects_img/brainchallenge_2.jpg);
  }

  .swiper-image-nine{
	background-image: url(./assets/projects_img/mememory_1.png);
  }

  .swiper-image-ten{
	background-image: url(./assets/projects_img/mememory_2.png);
  }

  .card-img-overlay{
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  .card-img-overlay:hover{
	background-color: grey;
	animation: fade-in 1s forwards;
  }

  @keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 0.85; }
  }

  /* Contacts section */
  .footer{
	min-height: 3rem;
	margin-top: 25rem;
	width: 100%;
  }

  p {
	margin: 0 auto;
	/* font-family: 'Cormorant Garamond', serif; */
	
	width: 100%;
	max-width: 350px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
	
  }